.services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 100px 60px;
}
.services_content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  @media(max-width: 768px) {
    flex-direction: column;
  }
}
.services_content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc( 30% - 30px );
  border-radius: 6px;
  background-color: #f6f6f6;
  margin-bottom: 60px;
  @media(max-width: 768px) {
    width: 100%;
  }
}
.services_content-item-title {
  color: #353a3f;
  font-size: 30px;
  font-weight: 600;
  line-height: 20.2px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  @media(max-width: 992px) {
    font-size: 22px;
  }
}
.services_content-item-text {
  color: #5a5f65;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.45px;
  padding: 32px 62px;
}
.services_content-item-btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 31.2px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  padding: 13px 43px 11px 42px;
  margin-bottom: 61px;
}
.services_content-item-img {
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 39px 35px;
  position: relative;
  top: -55px;
}
